@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background: #000;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}

header .logo img {
    max-width: 150px;
}



.search {
    position: relative;
    width: 300px;
    height: 35px;
}

.search input {

    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);

    border-radius: 4px;
    padding: 0 10px 0 45px;
  
}



.search .fa-search {
    position: absolute;
    top: 40%;
    left: 10px;
  
    padding-right: 10px;

    color: white;
    border-right: 1px solid rgb(255, 255, 255);

}
.search textarea{
    padding: 7px;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .lucifer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

   
    
    height: 50.3vw;
}

.content {
    position: relative;

    max-width: 550px;
}

.seasonTitle {
    max-width: 310px;
}

.banner .content h4 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.banner .content h4 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child {
    padding-left: 0;
}

.banner .content h4 span:last-child {
    border-right: none;
}

.banner .content h4 span i {
    background: #de0611;
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    margin: 25px 0 20px;
}

.banner .content .button {
    display: flex;
    justify-content: center;
    margin-left: -300px;
    color: #fff;
}



.container{
    
  
    color: #fff;

    display: flex;

  }
  .row{
    border: 1px solid #fff;
  }
  .col{
    border: 1px solid #ffffff;
    
  }
  .col:nth-child(1){
    background-color: white;
    color: #000;
  }
  

.play {
    margin-top: 540px;
    position: absolute;
  
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer;
}

.play img {
    margin-right: 10px;
    max-width: 50px;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    visibility: hidden;
    opacity: 0;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    max-width: 900px;
    outline: none;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}


  
  
  



@media (max-width: 1024px){
   header{
        height: 100px;
        margin-left: 150px;
   }
   header .search {
    position: relative;
    width: 300px;
    height: 35px;
}




header .search textarea{
    padding: 7px;
}
}